{% extends "appbuilder/base.html" %}
{% block content %}
<br>
<br>
<center>
    <table cellpadding="30" cellspacing="0" width="100%" border="0">
        <tr>
            <td width="15%"></td>
            <td width="25%" align="center"><img src="/static/starling.png" height=200"></td>
            <td width="20%"></td>
            <td width="25%" align="center"><img src="/static/splitwise.png" height="200"></td>
            <td width="15%"></td>
        </tr>
        <tr height="30px"></tr>
        <tr>
            <td width="15%"></td>
            <td width="25%" align="center">
                {% if starling_auth %}
                <button type="button" class="btn btn-success starling" disabled>Success</button>
                {% else %}
                <form action=/starling/login>
                    <button type="submit" class="btn btn-primary starling">Log In</button>
                </form>
                {% endif %}
            </td>
            <td width="20%"></td>
            <td width="25%" align="center">
                {% if splitwise_auth %}
                <button type="button" class="btn btn-success splitwise" disabled>Success</button>
                {% else %}
                <form action=/splitwise/login>
                    <button type="submit" class="btn btn-primary splitwise">Log In</button>
                </form>
                {% endif %}
            </td>
            <td width="15%"></td>
        </tr>
        <tr height="30px"></tr>
    </table>
    <br>
    {% if splitwise_auth and starling_auth %}
    <form action=/home/home>
        <button type="submit" class="btn btn-primary btn-lrg">Proceed to Your Account</button>
    </form>
    {% endif %}

</center>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/root.js"></script>

{% endblock %}