{% extends "appbuilder/base.html" %}
{% block content %}
<br>
<br>
<center>
<table cellpadding="30" cellspacing="0" width="100%" border="0">
   <tr>
      <td width="15%"> </td>
      <td width="25%" align="center"><img src="/static/starling.png" height=200"></td>
      <td width="20%"> </td>
      <td width="25%" align="center"><img src="/static/splitwise.png" height="200"></td>
      <td width="15%"> </td>
   </tr>
    <tr>
      <td width="15%"> </td>
      <td width="25%" align="center"><button type="button" class="btn btn-primary starling">Log In</button></td>
      <td width="20%"> </td>
      <td width="25%" align="center"><button type="button" class="btn btn-primary splitwise">Log In</button></td>
      <td width="15%"> </td>
   </tr>
</table>
</center>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/root.js"></script>

{% endblock %}