{% extends "appbuilder/base.html" %}
{% block content %}
<div class="jumbotron">
    <center>
        <table cellpadding="30" cellspacing="30" width="100%">
            <tr>
                <td width="15%" align="center">
                        <img src="/static/moneybadger.png" height=150">
                </td>
                <td width="10%"> </td>
                <td width="80%" align="left">
                        <h1>Money Badger</h1>
                </td>
            </tr>
        </table>
    </center>
</div>
<center>
        <table cellpadding="30" cellspacing="0" width="50%" border="0">
            <tr>
                <td width="50%" align="center"><img src="/static/intersection.png" height=100"></td>
                <td width="50%" align="center">
                    <h3>Combine Transactions from Multiple Sources</h3>
                </td>
            </tr>
            <tr height="50px"></tr>
            <tr>
                <td width="50%" align="center">
                    <h3>Detailed Analysis</h3>
                </td>
                <td width="50%" align="center"><img src="/static/sharing-connections.png" height=100"></td>
            </tr>
            <tr height="50px"></tr>
            <tr>
                <td width="50%" align="center"><img src="/static/chip.png" height=100"></td>
                <td width="50%" align="center">
                    <h3>Predict the Future!</h3>
                </td>
            </tr>
        </table>
    </center>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/my_index.js"></script>

{% endblock %}
